@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700&display=swap');

// UTILS
@import './utils/mixins';
@import './utils/variables';
@import './layout/structure';
@import './layout/dark-conf';

//COMPONENTS
@import './components/button';
