@import './../../styles/utils/variables';
@import './../../styles/utils/mixins';

.content {
    @include respond-to('medium') {
        padding: 0 57px;
    }

    &__posts {
        padding: 21px 15px;
        &-item {
            width: 100%;
            height: 101px;
            border-top: 1px solid $dark-gray;
            display: flex;
            align-items: center;

            &-rec {
                width: 77px;
                min-width: 77px;
                height: 77px;
                border-radius: $radius8;
                background: $gray;
            }

            &-content {
                display: flex;
                flex-direction: column;
                margin-left: 13px;
                max-width: 68vw;
                p {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    font: {
                        size: $text16px;
                        weight: $weight-semibold;
                    }
                }
                small {
                    color: $dark-gray;
                    font-size: $text13px;
                    margin-bottom: 9px;
                    a {
                        color: $primary;
                        margin-left: 5px;
                    }
                }
                @include respond-to('medium') {
                    p {
                        font-size: $text20px;
                    }
                    small {
                        font-size: $text16px;
                    }
                }
                &-link {
                    font-weight: $weight-bold;
                }
            }
        }
    }

    // &__more {
    //     width: 100%;
    //     background: $primary;
    //     border-radius: $radius8;
    //     height: 48px;
    //     margin: 15px 0 20px;
    //     color: $white;
    //     display: flex;
    //     align-items: center;
    //     justify-content: center;
    //     font: {
    //         size: $text20px;
    //         weight: $weight-medium;
    //     }
    //     span {
    //         margin-right: 13px;
    //     }
    // }
}
