@import './../../styles/utils/mixins';
@import './../../styles/utils/variables';

.skeleton {
    background: linear-gradient(
        90deg,
        $skeleton-base 0px,
        $skeleton-shine 40px,
        $skeleton-base 80px
    );
    border-radius: $radius10;
    animation: skeleton $skeleton-animation-duration ease infinite;
    position: relative;

    &--thumb {
        width: 77px;
        aspect-ratio: 1/1;
    }
    &--text {
        width: 100px;
        height: 15px;
        margin: 5px 0;
    }
}

@keyframes skeleton {
    0% {
        background-position: -100px;
    }
    40%,
    100% {
        background-position: 300px;
    }
}
