// COLORS PALETTE
$primary: #6324c6;
$golden: #ffb800;
$gray: #a7b0be;
$dark-gray: #4c5667;
$white: #fff;
$black: #000;
$red: #f00;
$blue: #00f;
$gree: #0f0;
$dark-clear: #666666;
$dark-medium: #212121;
$dark: #212121;

//util
$box-shadow: 0px 0px 18px -1px rgba(194, 181, 204, 0.16);

//Radius
$radius100: 100%;
$radius25: 25px;
$radius15: 15px;
$radius10: 10px;
$radius8: 8px;
$radius5: 5px;

//-------------------//
//       FONTS       //
//-------------------//
$mulish: 'Mulish', sans-serif;

$weight-bold: 700;
$weight-semibold: 600;
$weight-medium: 500;
$weight-regular: 400;

// Font Sizing
$header60px: 3.75rem;
$header54px: 3.375rem;
$header48px: 3rem;
$header42px: 2.652rem;
$header36px: 2.25rem;
$header32px: 2rem;
$header28px: 1.75rem;
$header26px: 1.6rem;
$header24px: 1.5rem;
$header22px: 1.375rem;
$header20px: 1.25rem;
$header18px: 1.12rem;

$text36px: 2.25rem;
$text32px: 2rem;
$text27px: 1.688rem;
$text24px: 1.333rem;
$text20px: 1.25rem;
$text18px: 1.125rem;
$text16px: 1rem;
$text14px: 0.888rem;
$text13px: 0.813rem;
$text12px: 0.666rem;
$text10px: 0.444rem;
